body {
  height: 350px;
  background-color: blue; 
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  font-size: 50px;
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;
  
}

input{
	position: relative;
    top: 40%;
    left: 43%;
	height:45px;
	width:200px;
	box-sizing: border-box;
	display: block;
	margin: 20px 0;
}
button {
	position: relative;
    top: 40%;
    left: 43%;
	 padding: 15px 20px;
	 margin: 20px 0;
	 box-sizing: border-box;
	 display: block;
	 width: 200px;
	 
}	
@media screen and (max-width: 300px) {
	input{
		height:auto;
		width:auto;
	}
	button {
		height:auto;
		width:auto;
	}
}