html {
  font-family: 'Lucida Console', sans-serif;
  font-size: 25px;
  line-height: 25px;
  padding: 35px;
  text-align: center;
}
body {
  background-color: gray;
}

label {
 text-align: center;
 display: block;
 width: 95%;
 margin: 0 1.5%;
}

 h1 {
 text-align: center;
}



li {
 list-style: none;
}


input {
 text-align: center;
 box-sizing: border-box;
 width: 45%;
 padding:  15px;
 margin: 15px ;
 border-style: solid;
}


#submit {
 width: 20%;
 display: block;
 margin: 0 auto;
 font-size: .4em;
}

@media screen and (min-width: 510px) {
 #container {
  text-align: center;
  margin: 3% auto 0 auto;
  width: 65%;
 }



 #submit {
  width: 35%;
  font-size: 0.9em;
 }
}

@media screen and (min-width: 600px){
 #container {
  clear: right;
  margin: 3% auto 0 auto;
  width: 50%;
 }


 #submit {
  width: 55%;
  font-size: 0.9em;
 }
}

@media screen and (min-width: 940px) {
 #container {
  margin: 3%;
  width: 40%;
 }

#email {
	width: 60%;
	font-size: 0.95em;
}

 #submit {
  width: 60%;
  font-size: 0.95em;
 }
}